* { 
    margin: 0; padding: 0; box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

body {
    background: linear-gradient(150deg, #fafbff, #063e13);
}

.navbar {
    background: #2a2c2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.logo {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    
}

/* Contenido Principal */
.contenedor-principal {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

.banner-foto {
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
   
}

.banner-foto img {
    width: 100%;  
}

#articulos-pagina {
    margin: 7%;

}

.section-principal {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 50px;
}

.texto-imagen {
    width: 50%;
    font-size: 20px;
}

.imagenes-articulos{
    width: 500px;
    margin-right: 20px;
}

footer {
    background: #2a2c2a;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    
}

.parrafos-color {
    color: white;
    font-size: 20px;
 }

.texto-interes {
    color:white;
    text-decoration: underline;
    font-size: 20px;
}

@media (max-width: 1100px) {
  .section-principal {
    flex-direction: column;
    gap: 20px;
  }

  .texto-imagen, .imagenes-articulos {
    width: 500px;
  }
}