/* Reset y Fuente */
* { 
    margin: 0; padding: 0; box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

body {
    background: #fafbff;
    min-height: 100vh;
}

/* Navegación - Color verde del login */
.navbar {
    background: #628b5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.logo-circular {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    
}



/* Contenido Principal */
.contenedor-principal {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

.banner-foto {
    width: 100%;
    height: auto; /* Permite que la altura crezca con la imagen */
    background: none; /* Elimina el fondo blanco */
    border: none;     /* Elimina el recuadro negro */
    border-radius: 0; /* Elimina las esquinas redondeadas */
    padding: 0;
    margin-bottom: 40px;
}

.banner-foto img {
    width: 100%;      /* Hace la foto más amplia */
    height: auto;
    display: block;
}