* { 
    margin: 0; padding: 0; box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

body {
    background: linear-gradient(150deg, #fafbff, #063e13);
}

.navbar {
    background: #2a2c2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

.imagen-reserva {
    width: 250px;
}

.section-reserva {
    display: flex;
    align-items: center;
    margin: 50px auto;
    max-width: 900px;
    padding: 0 20px;
    gap: 50px;
}

.contenedor-reserva {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: 15px;
}

.botones-container {
    display: flex;
    gap: 10px;
}

.boton-reserva {
    width: 120px;
    padding: 10px 0;
    background-color: #1a1a1a; 
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.8s ease;
}

.boton-reserva:hover {
    background-color: #ffffff;
    color: #1a1a1a;
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 950px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px 0;
    }

    .menu {
        justify-content: center;
        width: 100%;
    }

    .menu a {
        margin: 0 12px;
    }

    .section-reserva {
        flex-direction: column;
        text-align: center;
        margin: 30px auto;
        gap: 20px;
    }

    .imagen-reserva {
        width: 100%;
        max-width: 300px;
    }

    .botones-container {
        justify-content: center;
    }
}